#sidebar-main {
  width: 300px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  box-shadow: 3px 0px 6px 1px #0000001a;
}
#header-logo {
  width: 100px;
  margin-top: 2rem;
}

.prof-btn {
  width: 300px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.prof-txt {
  align-items: left;
}

.nav-dashboard-btn {
  display: flex;
  justify-content: space-evenly !important;
  width: 300px;
  height: 70px;
}

.dash-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-align: center;
}

.nav-stat-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 300px;
  height: 70px;
  border: 1px solid red;
}

.acc-statements {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;

  color: rgba(19, 47, 94, 0.8);
}
