.header-container {
  /* display: flex; */
  /* flex-direction: row; */
  /* background-color: #f7f9fd; */
}

.stats {
  font-weight: 500;
  font-size: 2rem;
  font-weight: 600;
  color: #132f5e;
}

.statement-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #f7f9fd;
  width: 100%;
}

.MuiMenu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  width: 100%;
}
.MuiMenuItem-gutters {
  height: 2rem;
  width: 100%;
}
#fund-name-select {
  width: 14rem !important;
  margin-left: -5px;
  margin-right: -5px;
  background-color: white !important;
  padding-left: 2rem !important;
  height: 0.8rem;
}
.MuiSelect-root {
  border-radius: 0.5rem !important;
  font-weight: 500 !important;
}
.MuiSelect-select {
  color: #e95b3e !important;
}
.statement-summary {
  display: flex;
  gap: 4rem;
}
.statement-summary-col {
  display: flex;
  gap: 0.8rem;
  flex-direction: column;
}

.statement-summary-name {
  font-weight: 300;
  font-size: 0.875;
  color: #132f5e;
}

.statement-summary-val {
  font-weight: 500;
  font-size: 1.5rem;
  color: #132f5e;
}

.date-div {
  display: flex;
  gap: 4rem;
  justify-content: flex-start;
}
#apply-btn {
  width: 100px;
  background-color: #e95b3e;
}
.date-btns {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.download-btn {
  width: 184px;
  height: 44px;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.09);
  border-radius: 8px;
}

.stat-table {
  overflow: auto;
  height: 300px;
}
