.investments-main {
  display: flex;
}

#investments-container {
  background-color: var(--light-blue-bg);
  width: 100%;
  padding: 3rem 5rem 0rem 5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.investments-heading {
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--secondary-color);
}

.investments-subheading {
  font-weight: 500;
  font-size: 1rem;
  color: var(--secondary-color);
}

.investments-total-investors {
  margin-top: 1rem;
  font-weight: 300;
  font-size: 0.9rem;
  color: var(--secondary-color);
}

.investments-total-no {
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--secondary-color);
}

.investments-inv-btns {
  color: var(--secondary-color);
  display: flex;
  align-items: center;
  gap: 2rem;
}

#investors-apply-btn {
  background-color: var(--primary-color);
  color: white;
}
.padding-for-inputs input {
  padding: 1rem !important;
  height: 2rem !important;
}
.MuiInputBase-input {
  padding: 1rem 12px !important;
}
