.add-folios-main {
  display: flex;
}

#add-folios-container {
  width: 100%;
  padding: 3rem 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.add-folio-header {
  display: flex;
  justify-content: space-between;
}

#add-folio-subtitle {
  width: 274px;
  height: 21px;

  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #132f5e;
}

.add-folio-title {
  width: 117px;
  height: 28px;

  font-weight: 500;
  font-size: 24px;
  color: #132f5e;
}

.add-folios-div {
  display: flex;
  flex-direction: column !important;
  padding-right: 2rem !important;
  gap: 2.5rem !important;
}

.add-folio-investorId {
  display: flex;
}
.add-folios-div > div {
  display: flex;
  gap: 10rem;
  flex: 1;
}

.add-folios-btn-div {
  display: flex;
  justify-content: center;
}

/* #add-folios-btn {
  margin-top: 1rem;
} */
