#overview {
  position: absolute;
  width: 274px;
  height: 21px;
  left: 76px;
  top: 128px;

  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #132f5e;
}

#dtitle {
  width: 117px;
  height: 28px;

  font-weight: 500;
  font-size: 24px;
  line-height: 28px;

  color: #132f5e;
}

.cross-btn {
  position: absolute;
  left: 76px;
  top: 57px;
  width: 1100px !important;
  display: flex;
  justify-content: space-between;
}

.add-funds-main {
  display: flex !important;
  flex-direction: row !important;
}

#add-funds-container {
  position: absolute;
  left: 300px;
  width: 1100px !important;
}

.add-funds-div {
  width: 1000px !important;
  display: flex;
  left: 76px;
  justify-content: space-between;
}

#add-funds-id1 {
  position: absolute;
  top: 190px !important;
}

#add-funds-id2 {
  position: absolute;
  top: 280px !important;
}

#add-funds-btn {
  position: absolute;
  top: 400px !important;
  justify-content: center;
}
