#overview {
  position: absolute;
  width: 274px;
  height: 21px;
  left: 76px;
  top: 128px;

  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: var(--secondary-color);
}

.add-fund-title {
  width: 117px;
  height: 28px;

  font-weight: 500;
  font-size: 24px;
  line-height: 28px;

  color: var(--secondary-color);
}

.cross-btn {
  position: absolute;
  left: 76px;
  top: 57px;
  width: 1100px !important;
  display: flex;
  justify-content: space-between;
}

.add-funds-main {
  display: flex !important;
  flex-direction: row !important;
}

#fund-st-date {
  width: 400px !important;
}

#add-funds-container {
  position: absolute;
  left: 300px;
  width: 1100px !important;
  display: flex;
  justify-content: center;
}

.add-funds-div {
  width: 600px !important;
  display: flex;
  flex-direction: column !important;
  gap: 2rem !important;
  left: 76px;
  /* justify-content: center; */
}

#add-funds-id1 {
  position: absolute;
  top: 190px !important;
}

.add-funds-btn-div {
  display: flex;
  justify-content: center;
}

#add-funds-btn {
  margin-top: 1rem;
}
