#overview{
    position: absolute;
    width: 274px;
    height: 21px;
    left: 76px;
    top: 128px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #132F5E;
}


.investor-div{
    width: 1100px;
    display: flex;
    left: 76px;
    justify-content: space-between;
}

#inv-id1{
    position: absolute;
    top:222px;    
}

#inv-id2{
    position: absolute;
    top:313px;    
}

#inv-id3{
    position: absolute;
    top:404px;   
    height:160px;
    align-content: space-between; 
    flex-direction: column !important;
}

#inv-id4{
    position: absolute;
    top:584px;    
}

#add-inv-btn{
    position: absolute;
    top: 695px;
    justify-content: center;

}

