.folio-statements-main {
  display: flex;
  background-color: var(--light-blue-bg);
}

#folio-statements-container {
  width: 100%;
  padding: 3.5rem 5rem 2rem 4.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.folio-input-div {
  display: flex;
  gap: 5rem;
  padding: 3rem 0rem;
}

.folio-statements-heading {
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--secondary-color);
}

.folio-statements-subheading {
  font-weight: 500;
  font-size: 1rem;
  color: var(--secondary-color);
}

@media screen and (max-width: 768px) {
  .folio-statements-main {
    flex-direction: column;
  }
  #folio-statements-container {
    margin-top: -90vh;
    padding: 2rem 1rem;
  }

  .folio-input-div {
    flex-direction: column;
    gap: 2.5rem;
  }
}
