.folio-statements-main {
  display: flex;
  background-color: var(--light-blue-bg);
}

#folio-statements-container {
  width: 100%;
  padding: 3.5rem 4rem 2rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.folio-input-div {
  display: flex;
  gap: 5rem;
  padding: 1rem 0rem 1rem 0rem;
}

.folio-statements-heading {
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--secondary-color);
}

.folio-statements-subheading {
  font-weight: 500;
  font-size: 1rem;
  color: var(--secondary-color);
}

.folio-statements-add-transaction {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 11px 3px #0000000d;
  width: 100%;
  margin: 1rem 0rem 1rem 0rem;
}

.folio-statements-add-transaction-row {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}
.folio-statements-add-transaction-row-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-transform: capitalize;
  color: #333333;
}
.folio-statements-add-transaction-row-item * {
  flex: 1;
}
.folio-statements-add-transaction-row-item-label {
  font-size: 0.8rem;
}
.folio-statements-add-transaction-row-item-value {
  font-size: 1rem;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .folio-statements-main {
    flex-direction: column;
  }
  #folio-statements-container {
    margin-top: -90vh;
    padding: 2rem 1rem;
  }

  .folio-input-div {
    flex-direction: column;
    gap: 2.5rem;
  }
}
