.investors-main{
    display:flex;
}

#investors-container{
    position: absolute;
    left: 300px;
    width: 1240px;
    height: 850px;
}

.dtitle{ 
    position: absolute;
    width: 117px;
    height: 28px;
    left: 76px;
    top: 57px;    
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;

    color: #132F5E;
}

.overview{
    position: absolute;
    width: 74px;
    height: 21px;
    left: 76px;
    top: 128px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #132F5E;
}

.total-investors{
    position: absolute;
    width: 91px;
    height: 16px;
    left: 76px;
    top: 174px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;

    color: #132F5E;
}

.total-no{
    position: absolute;
    width: 28px;
    height: 28px;
    left: 76px;
    top: 200px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;

    color: #132F5E;
}

.inv-btns{
    position: absolute;
    left:76px;
    top: 262px;
    width: 1240px;
    display: flex;
    justify-content: space-between;
}

.inv-table{
    position: absolute;
    width: 1240px;
    height: 350px;
    overflow: auto;
    top:350px;
    left:78px;
}