.investors-main {
  display: flex;
  background-color: var(--light-blue-bg);
}

.investors-container {
  width: 100%;
  padding: 3rem 3.5rem 3rem 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#inv-title {
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--secondary-color);
}

#inv-overview {
  font-weight: 500;
  font-size: 1.125rem;
  color: var(--secondary-color);
}

.total-investors-div {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

#total-investors {
  font-weight: 300;
  font-size: 0.9rem;
  color: var(--secondary-color);
}

#total-no {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;

  color: var(--secondary-color);
}

.inv-btns {
  display: flex;
  justify-content: space-between;
}

.investors-inv-table {
  width: 100%;
  height: 350px;
  overflow: auto;
}

@media screen and (max-width: 768px) {
  .investors-main {
    flex-direction: column;
  }

  .investors-container {
    margin-top: -90vh;
    padding: 2rem 1rem;
  }
}
