.investors-main {
  display: flex;
  background-color: var(--light-blue-bg);
}

.investors-container {
  width: 100%;
  padding: 3rem 2.5rem 0rem 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  overflow: auto;
}

#inv-title {
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--secondary-color);
}

.investors-overview-div {
  display: flex;
  gap: 2.5rem;
}

.add-investor-btn {
  transition: all 0.1s ease !important;
  background-color: #e95b3e !important;
  text-transform: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.95rem !important;
  padding: 0rem 2rem !important;
  height: 2.8rem;
}

#inv-overview {
  font-weight: 500;
  font-size: 1.125rem;
  color: var(--secondary-color);
}

.total-investors-div {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

#total-investors {
  font-weight: 300;
  font-size: 0.9rem;
  color: var(--secondary-color);
}

#total-no {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;

  color: var(--secondary-color);
}

.inv-btns {
  display: flex;
  justify-content: space-between;
}

.investors-inv-table {
  width: 100%;
  height: 350px;
  overflow: auto;
}

.investor-card-mobile-container {
  background-color: white;
  margin: 0.5rem;
  border-radius: 1rem;
  box-shadow: 0px 4px 11px 3px #0000000d;
}
.investor-card-mobile-container:nth-child(1) {
  border-radius: 1rem !important;
}
.investor-card-mobile {
  padding: 1rem;
  display: flex;
  border: 1px solid #e6e6e6;
  flex-direction: column;
  color: #333333;
}
.investor-card-mobile-header-folio-date {
  font-weight: 700;
}
.investor-card-mobile-header-top {
  display: flex;
  gap: 1ch;
  align-items: center;
}
.investor-card-mobile-header {
  margin-top: 0.5rem;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  flex-direction: column;
  flex: 1;
}
.investor-card-mobile-header-name {
  flex: 1;
  color: #666666;
}

@media screen and (max-width: 768px) {
  .investors-main {
    flex-direction: column;
  }

  .investors-container {
    margin-top: -100vh;
    padding: 2rem 1rem;
  }

  .investors-overview-div {
    display: flex;
    justify-content: space-between;
  }
}
