.folios-main {
  display: flex;
  background-color: var(--light-blue-bg);
}

#folios-container {
  display: flex;
  flex-direction: column;
  padding: 3rem 3.5rem 3rem 5rem;
  width: 100%;
  gap: 1.5rem;
}

.folio-title {
  width: 117px;
  height: 28px;

  font-weight: 500;
  font-size: 24px;
  line-height: 28px;

  color: var(--secondary-color);
}

.folio-overview {
  width: 74px;
  height: 21px;

  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: var(--secondary-color);
}

.folio-oneline {
  display: flex;
  gap: 3rem;
}

.total-folios {
  width: 91px;
  height: 16px;

  font-weight: 300;
  font-size: 14px;
  line-height: 16px;

  color: var(--secondary-color);
}

.total-folios-no {
  margin-top: 0.5rem;
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--secondary-color);
}

.add-folio-btn {
  transition: all 0.1s ease !important;
  background-color: #e95b3e !important;
  text-transform: none !important;
  font-size: 1rem !important;
  padding: 0rem 2rem !important;
  height: 3rem;
  /* width: 100%;
  display: flex;
  justify-content: space-between; */
}
.folio-searchbar .Mui-focused {
  box-shadow: none;
  outline: 2px #91acd9 solid !important;
}
.folio-searchbar input {
  padding: 0.75rem !important;
}
.folio-searchbar input::placeholder {
  color: #5a6d8e !important;
  opacity: 0.9;
}
.folio-searchbar * {
  border: none !important;
}
.folio-searchbar > * {
  outline: 1px #91acd9 solid !important;
}
.folio-searchbar {
  background-color: white !important;
  width: 50%;
}
/* .folio-searchbar:active {
  background-color: red !important;
}
.folio-searchbar:focus {
  background-color: red !important;
}
.folio-searchbar:focus-visible {
  background-color: red !important;
  border-radius: 5px;
  outline: 1px solid #91acd9 !important;
  width: 50%;
} */
.inv-table-folios {
  width: 100%;
  height: 350px;
  overflow: scroll;
}

@media screen and (max-width: 768px) {
  .folios-main {
    flex-direction: column;
  }

  #folios-container {
    margin-top: -90vh;
    padding: 2rem 1rem;
  }
}
