.grievances-admin-main {
  display: flex;
  background-color: var(--light-blue-bg);
}

#grievances-admin-container {
  padding: 3rem 2.5rem 0rem 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  width: 100%;
}

.grievances-admin-title {
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--secondary-color);
}

.grievances-admin-overview {
  font-weight: 500;
  font-size: 1.2rem;
  color: var(--secondary-color);
}

.grievances-admin-total-investors {
  font-weight: 300;
  font-size: 0.9rem;
  color: var(--secondary-color);
}

.grievances-admin-total-no {
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--secondary-color);
}

.gr-ad-inv-btns {
  display: flex;
  height: 60px;
  align-items: flex-end;
  justify-content: space-between;
}

/* .gr-ad-inv-table-grievances { */
/* max-width: 80vw; */
/* overflow: auto; */
/* } */

@media screen and (max-width: 768px) {
  .grievances-admin-main {
    flex-direction: column;
  }
  #grievances-admin-container {
    margin-top: -90vh;
    padding: 2rem 1rem;
  }
  /* .gr-ad-inv-table-grievances { */
  /* max-width: 100%; */
  /* overflow: auto; */
  /* } */
}
