.profile-container {
  display: flex;
  width: 100%;
}
.profile-container-content {
  padding: 3rem 5rem;
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: var(--light-blue-bg);
  gap: 2rem;
  margin-top: 1rem;
}

.profile-heading {
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 1.5rem;
}

.profile-pic-edit-btn-holder {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.profile-image-holder {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
}
.profile-image--img {
  border: 1px solid #e95b3e;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
}
.edit-btn {
  color: var(--primary-color) !important;
  background-color: white !important;
  border: none;
  border-radius: 0.5rem;
  font-weight: 500;
  font-size: 1rem;
  box-shadow: 0px 2px 4px 2px #00000017;
  text-transform: none !important;
  padding: 0.7rem 3.5rem !important;
}

.profile-info {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 11px 3px #0000000d;
  width: 80%;
}

.profile-info-row {
  display: flex;
  gap: 1rem;
  padding: 2rem;
}
.profile-info-row-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-transform: capitalize;
  color: #333333;
}
.profile-info-row-item * {
  flex: 1;
}
.profile-info-row-item-label {
  font-size: 0.8rem;
}
.profile-info-row-item-value {
  font-size: 1rem;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .profile-container {
    display: flex;
    flex-direction: column !important;
  }

  .profile-container-content {
    padding: 3rem 3rem;
  }

  .profile-pic-edit-btn-holder {
    width: 80vw !important;
    gap: 4rem;
  }

  .profile-info {
    width: 80vw;
  }
}

@media screen and (max-width: 480px) {
  .profile-info-row {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
  }
}
