.grievances-header-container {
  display: flex !important;
  background-color: var(--light-blue-bg);
}

.grievances-container {
  display: flex;
  flex-direction: column;
  padding: 3rem 5rem;
  width: 100%;
  gap: 1rem;
}

#grievances-header-label {
  font-size: 1.5rem;
  color: var(--secondary-color);
  font-weight: 500;
}

.query-header-label {
  font-size: 1rem;
  color: var(--secondary-color);
  font-weight: 500;
}

.btns-div {
  display: flex;
  margin: 2rem 0rem 1.5rem 0;
}

Button:visited {
  background: red;
}

.query-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  background-color: white;
  outline: 1px solid #cecece;
  padding: 1rem;
}
.query-container-title {
  color: var(--secondary-color);
  font-size: 1rem;
  font-weight: 500;
  margin: 0px;
  padding: 0px;
  margin-bottom: -1rem;
}
.send-btn-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.send-btn {
  display: flex;
  padding: 1rem 4rem !important;
  height: 3rem;
  width: 14rem;
  justify-content: space-around;
}

#query-table {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .grievances-header-container {
    flex-direction: column !important;
  }

  .grievances-container {
    margin-top: -90vh;
    padding: 2rem 1rem;
  }
}
