.grievances-header-container {
  display: flex !important;
}

.grievances-container {
  display: flex;
  flex-direction: column;
  padding: 3rem 5rem;
  width: 100%;
  gap: 1rem;
}

#grievances-header-label {
  font-size: 1.5rem;
  color: var(--secondary-color);
  font-weight: 500;
}

.query-header-label {
  font-size: 1rem;
  color: var(--secondary-color);
  font-weight: 500;
}

.btns-div {
  display: flex;
  margin: 2rem 0rem 1.5rem 0;
}

Button:visited {
  background: red;
}

.query-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.send-btn-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.send-btn {
  display: flex;
  width: 200px;
  justify-content: space-around;
}

#query-table {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .grievances-header-container {
    flex-direction: column !important;
  }

  .grievances-container {
    margin-top: -90vh;
    padding: 2rem 1rem;
  }
}
