@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --primary-color: #e95b3e;
  --secondary-color: #132f5e;
  --light-blue-bg: #f7f9fd;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto';
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button {
  cursor: pointer;
}

.swal2-show {
  /* -webkit-animation: swal2-show 1s !important; */
  animation: swal2-show 0.75s !important;
  transition: all 0.75s ease;
}
/* .swal2-confirm {
  background-color: var(--primary-color) !important;
} */
