.add-investors-main {
  display: flex;
}

#add-investors-container {
  padding: 3rem 5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--light-blue-bg);
  width: 100%;
}

.add-investors-title-div {
  display: flex;
  justify-content: space-between;
}

#add-investors-subtitle {
  font-weight: 500;
  font-size: 18px;
  color: #132f5e;
}

#add-investors-title {
  font-weight: 500;
  font-size: 1.5rem;
  color: #132f5e;
}

.investor-div {
  display: flex;
  justify-content: space-between;
}

.add-inv-all-inputs {
  margin-top: 1rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.add-inv-all-inputs > div {
  display: flex;
  flex: 1;
  gap: 10rem;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .add-investors-main {
    flex-direction: column !important;
  }

  #add-investors-container {
    margin-top: -90vh;
    padding: 2rem 1rem;
  }

  .add-inv-all-inputs > div {
    flex-wrap: wrap;
    gap: 2rem;
  }
}
