.add-investors-main {
  display: flex;
}

#add-investors-container {
  padding: 3rem 4rem 0rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  background-color: var(--light-blue-bg);
  width: 100%;
  overflow: auto;
}

.add-investors-title-div {
  display: flex;
  justify-content: space-between;
}

#add-investors-subtitle {
  font-weight: 500;
  font-size: 18px;
  color: var(--secondary-color);
}

#add-investors-title {
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--secondary-color);
}

.add-inv-all-inputs {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.add-inv-all-inputs > div {
  display: flex;
  flex: 1;
  gap: 3rem;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .add-investors-main {
    flex-direction: column !important;
  }

  #add-investors-container {
    /* margin-top: -90vh; */
    padding: 1rem 1rem;
  }

  .add-inv-all-inputs > div {
    flex-wrap: wrap;
    gap: 2rem;
  }
}
