#overview {
  position: absolute;
  width: 274px;
  height: 21px;
  left: 76px;
  top: 128px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #132f5e;
}

.add-investors-main {
  display: flex !important;
  flex-direction: row !important;
}

#add-investors-container {
  position: absolute;
  left: 300px;
  width: 1100px !important;
}

.investor-div {
  width: 1100px !important;
  display: flex;
  left: 76px;
  justify-content: space-between;
}

#inv-id1 {
  position: absolute;
  top: 190px !important;
}

#inv-id2 {
  position: absolute;
  top: 280px !important;
}

#inv-id3 {
  position: absolute;
  top: 370px !important;
  height: 160px;
  align-content: space-between;
  flex-direction: column !important;
}

#inv-id4 {
  position: absolute;
  top: 550px !important;
}

#add-inv-btn {
  position: absolute;
  top: 665px !important;
  justify-content: center;
}
